* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}   

body {
    background-color: rgb(245, 237, 215);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Cormorant Garamond', serif;
}

h1 {
    font-size: 4.5rem;
    color: rgb(53, 51, 51);
    padding: 1.5rem;
    font-family: 'Parisienne', cursive;
}

h2 {
    font-size: 1.6rem;
    color: rgb(53, 51, 51);
    padding: 1.5rem;
}

h3 {
    font-size: 1.2rem;
    color: rgb(218, 161, 47);
    padding: 0rem;
}